/* 
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mySwiper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide{
    display: block;
    height: 200px;
  } */